stages:
  - unit-test
  - build
  - infra-plan
  - infra-test
  - infra-apply
  - infra-verify

variables:
  AWS_DEFAULT_REGION: us-east-1
  ECR_REGION: us-east-1
  TF_ROOT: ${CI_PROJECT_DIR}/terraform
  IMAGE_TAG: ${CI_COMMIT_SHA}

include:
  - local: '.gitlab/ci/unit-test.yml'
  - local: '.gitlab/ci/build.yml'
  - local: '.gitlab/ci/terraform.yml'
