stages:
  - build
  - deploy

variables:
  AWS_DEFAULT_REGION: us-east-1
  ECR_REGION: us-east-1
  TF_ROOT: ${CI_PROJECT_DIR}/terraform
  IMAGE_TAG: ${CI_COMMIT_SHA}

include:
  - local: '.gitlab/ci/build.yml'
  - local: '.gitlab/ci/deploy.yml'
