stages:
  - build
  - deploy

variables:
  AWS_DEFAULT_REGION: us-east-1
  ECR_REGION: us-east-1
  TF_ROOT: ${CI_PROJECT_DIR}/terraform
  IMAGE_TAG: ${CI_COMMIT_SHA}

# Build and Push Lambda Container
build-lambda:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - apk add --no-cache make aws-cli
  script:
    - make docker-build IMAGE_TAG=$IMAGE_TAG
    - make docker-push IMAGE_TAG=$IMAGE_TAG
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

# Deploy Infrastructure via Terraform
deploy-infra:
  stage: deploy
  image: hashicorp/terraform:latest
  before_script:
    - cd ${TF_ROOT}
    - terraform --version
    - terraform init
  script:
    - terraform validate
    - terraform plan -out=tfplan -var="image_tag=$IMAGE_TAG"
    - terraform apply -auto-approve tfplan
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  dependencies:
    - build-lambda
